@media screen and (max-width: 600px) and (min-width: 360px) {
    body {
        overflow-x: hidden;
        margin: 0 10px;
    }

    nav {
        display: none;
    }

    /* Header */
    #header-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 9em;
        margin: 100px 0;
    }

    #discount {
        width: 100%;
    }

    #method h1 {
        font-size: 2.5rem;
        margin: 0 0 20px 0;
    }

    #method h1 span {
        color: transparent;
        background: linear-gradient(to bottom, #fff, 55%, #33BBCF);
        -webkit-background-clip: text;
    }

    #get-start {
        margin: 40px 0 0 0;
        position: absolute;
        top: 100%;
        right: 40%;
    }

    #header-text {
        font-size: 1.1rem;
    }

    /* Company detail */
    #company-detail-parent {
        justify-content: center;
        flex-direction: column;
        gap: 1.5em;
        margin: 0 0 50px 0;
        text-align: center;
    }

    .company-detail h2 {
        font-size: 1.4rem;
    }

    .company-detail p {
        font-size: 1.1rem;
    }

    /* Handle reward */
    #handle-reward {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 0 50px 0;
    }

    #handle-money h2 {
        font-size: 1.5rem;
        margin: 0 0 15px 0;
    }

    #handle-money p {
        font-size: 1rem;
        line-height: 2em;
        margin: 0 0 20px 0;
    }

    #handle-money button {
        padding: 5px 10px;
        font-size: 1rem;
    }

    /* Reward */
    #reward-parent {
        gap: 1.5em;
    }

    .reward-item {
        padding: 15px 10px;
    }

    .reward-item img {
        width: 40px;
        height: 40px;
        background-color: #16272E;
        border-radius: 50%;
        padding: 5px;
    }

    .reward-text p {
        font-size: .9rem;
        color: #fff;
        opacity: .5;
    }

    /* Control */
    #control {
        margin: 0 0 50px 0;
    }

    #control-heading h3 {
        font-size: 1.5rem;
    }

    #control-heading p {
        font-size: 1rem;
    }

    #control-image {
        display: flex;
        justify-content: center;
        gap: 1.5em;
    }

    #control-image img {
        width: 100%;
        cursor: pointer;
    }

    /* Control holder */

    #control-holder {
        flex-direction: column;
        gap: 2.5em;
    }

    #control-parent {
        width: 100%;
    }

    .control-head {
        margin: 0 0 5px 0;
    }

    .control-detail-img-text,
    .control-price {
        display: flex;
        gap: 10px;
        align-items: center;
        color: #fff;
    }

    .control-detail-img-text img {
        width: 30px;
        height: 30px;
    }

    .control-title h4,
    .control-title p,
    .control-price p {
        font-size: 1rem;
    }

    .control-price img {
        width: 10px;
    }

    /* control item 2 */

    #control-item2 {
        width: 100%;
    }

    #control-thumbnail {
        padding: 0 10px;
        margin: 0 0 20px 0;
    }

    #control-thumbnail img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    #control-thumbnail-title h5 {
        font-size: 1.1rem;
    }

    #control-payment {
        padding: 0 10px;
    }

    #control-payment #change-payment {
        padding: 5px 10px;
    }

    /* Better card */
    #better-card {
        flex-direction: column;
        gap: 150px;
        margin: 0 0 320px 0;
        position: relative;
    }

    /* Review */
    #review {
        margin: 0 0 150px 0;
    }

    #review-title {
        flex-direction: column;
        gap: 1.5em;
        margin: 0 0 30px 0;
    }

    #review-title h3 {
        font-size: 1.5rem;
    }

    /* review item */
    #review-parent {
        margin: 0;
        flex-direction: column;
        gap: 30px;
    }

    .review-item {
        width: 100%;
        padding: 35px 25px;
    }

    .quotes {
        margin: 0 0 20px 0;
    }

    .review-text p {
        margin: 0 0 20px 0;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .review-person {
        gap: 10px;
    }

    .review-person img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .review-name-title h4 {
        font-size: 1rem;
    }

    .review-name-title p {
        font-size: .6rem;
    }

    /* Company */
    #company {
        flex-direction: column;
        gap: 3.5em;
        margin: 0 0 70px 0;
    }

    #company img {
        width: 100%;
        cursor: pointer;
    }







}