* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00040F;
    margin: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 0 40px 0;
}

#nav-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nav-title img {
    width: 30px;
    height: 30px;
}

#nav-title a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

#nav-title a span {
    color: #5CE1E6;
}

#toggle {
    display: none;
}

#bars {
    color: #fff;
    font-size: 1.5rem;
    display: none;
}

#nav-link {
    display: flex;
    gap: 20px;
    color: #fff;
}

#nav-link li {
    list-style-type: none;
}

#nav-link li a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/* Header */
#header-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 30px 0;
}

#discount {
    background: linear-gradient(to right, #242426, 40%, #00040F);
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 30px 0;
}

#discount p {
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

#discount p span {
    color: #9DA4A5;
}

#method {
    position: relative;
}

#method h1 {
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-size: 4.5rem;
}

#method h1 span {
    color: transparent;
    background: linear-gradient(to bottom, #fff, 55%, #33BBCF);
    -webkit-background-clip: text;
}

#get-start {
    cursor: pointer;
    border: 3px solid #33BBCF;
    border-radius: 50%;
    padding: 30px;
    align-items: center;
    color: #33BBCF;

    position: absolute;
    top: 5%;
    right: 0;

    font-family: "montserrat", sans-serif;
    /* font-weight: 300; */
}

#header-text {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

#header-img img {
    width: 100%;
    height: 100%;
}

#company-detail-parent {
    display: flex;
    justify-content: space-between;
    margin: 0 0 150px 0;
}

.company-detail h2 {
    text-align: center;
    font-family: 'montserrat', sans-serif;
    color: #fff;
    font-size: 2rem;
}

.company-detail p {
    color: transparent;
    background: linear-gradient(to bottom, #fff, 65%, #33BBCF);
    -webkit-background-clip: text;
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}


/* Handle reward */
#handle-reward {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
    color: #fff;
    margin: 0 0 100px 0;
}

#handle-money h2 {
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 30px 0;
}

#handle-money p {
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 30px;
    opacity: .4;
    margin: 0 0 40px 0;
}

#handle-money button {
    background-color: #33BBCF;
    color: #00040F;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 400;
    transition: .8s;
}

#handle-money button:hover {
    background-color: transparent;
    border: 2px solid #33BBCF;
    color: #fff;
}

/* Reward */
#reward-parent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reward-item {
    padding: 25px 20px;
    background-color: #161521;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.reward-item img {
    width: 70px;
    height: 70px;
    background-color: #16272E;
    border-radius: 50%;
    padding: 15px;
}

.reward-text h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.reward-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: gray;
    opacity: .8;
}