* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00040F;
    margin: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 0 40px 0;
}

#nav-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nav-title img {
    width: 30px;
    height: 30px;
}

#nav-title a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

#nav-title a span {
    color: #5CE1E6;
}

#toggle {
    display: none;
}

#bars {
    color: #fff;
    font-size: 1.5rem;
    display: none;
}

#nav-link {
    display: flex;
    gap: 20px;
    color: #fff;
}

#nav-link li {
    list-style-type: none;
}

#nav-link li a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/* Header */
#header-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 30px 0;
}

#discount {
    background: linear-gradient(to right, #242426, 40%, #00040F);
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 30px 0;
}

#discount p {
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

#discount p span {
    color: #9DA4A5;
}

#method {
    position: relative;
}

#method h1 {
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-size: 4.5rem;
}

#method h1 span {
    color: transparent;
    background: linear-gradient(to bottom, #fff, 55%, #33BBCF);
    -webkit-background-clip: text;
}

#get-start {
    cursor: pointer;
    border: 3px solid #33BBCF;
    border-radius: 50%;
    padding: 30px;
    align-items: center;
    color: #33BBCF;

    position: absolute;
    top: 5%;
    right: 0;

    font-family: "montserrat", sans-serif;
    /* font-weight: 300; */
}

#header-text {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

#header-img img {
    width: 100%;
    height: 100%;
}

#company-detail-parent {
    display: flex;
    justify-content: space-between;
    margin: 0 0 150px 0;
}

.company-detail h2 {
    text-align: center;
    font-family: 'montserrat', sans-serif;
    color: #fff;
    font-size: 2rem;
}

.company-detail p {
    color: transparent;
    background: linear-gradient(to bottom, #fff, 65%, #33BBCF);
    -webkit-background-clip: text;
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}


/* Handle reward */
#handle-reward {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
    color: #fff;
    margin: 0 0 100px 0;
}

#handle-money h2 {
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 30px 0;
}

#handle-money p {
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 30px;
    opacity: .4;
    margin: 0 0 40px 0;
}

#handle-money button {
    background-color: #33BBCF;
    color: #00040F;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 400;
    transition: .8s;
}

#handle-money button:hover {
    background-color: transparent;
    border: 2px solid #33BBCF;
    color: #fff;
}

/* Reward */
#reward-parent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reward-item {
    padding: 25px 20px;
    background-color: #161521;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.reward-item img {
    width: 70px;
    height: 70px;
    background-color: #16272E;
    border-radius: 50%;
    padding: 15px;
}

.reward-text h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.reward-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: gray;
    opacity: .8;
}

/* Control */
#control {
    margin: 0 0 100px 0;
}

#control-heading {
    text-align: center;
    color: #fff;
}

#control-heading h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 0 30px 0;
}

#control-heading p {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 25px;
    margin: 0 0 30px 0;
}

#control-image {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 0 30px 0;
}

#control-image img {
    cursor: pointer;
}

/* Control holder */

#control-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.control-item {
    display: flex;
    justify-content: space-between;
}

#control-parent {
    width: 350px;
    background: linear-gradient(to bottom right, #2A687F, 70%, #151623);
    padding: 20px 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.control-head {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.control-detail-img-text,
.control-price {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}

.control-detail-img-text img {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.control-title h4,
.control-title p,
.control-price p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.control-title p {
    font-weight: 300;
}

.control-price img {
    width: 20px;
}

.control-price p {
    font-weight: 400;
}

/* control item 2 */

#control-item2 {
    width: 200px;
}

#control-thumbnail {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    margin: 0 0 30px 0;
}

#control-thumbnail img {
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

#control-thumbnail-title h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

#control-thumbnail-title p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

#control-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
}

#control-payment-title {
    color: #fff;
}

#control-payment-title p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#control-payment-title p:nth-child(2) {
    font-weight: 600;
}

#control-payment #change-payment {
    border: 2px solid #33BBCF;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#make-payment {
    width: 100%;
    background-color: #5CE1E6;
    padding: 7px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


/* Better card */
#better-card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 0 150px 0;
}

#better-text h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    margin: 0 0 30px 0;
}

#better-text p {
    color: #fff;
    opacity: .6;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    margin: 0 0 30px 0;
}

#better-text button {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #33BBCF;
    padding: 10px 15px;
}

#better-analysis {
    width: 100%;
    background-image: url('./image/round-circle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    gap: 30px;
    position: relative;
}

#scan-credit {
    width: 200px;
    height: 150px;
    text-align: center;
    background-color: #14101D;
    border-radius: 5px;
    box-shadow: 0 0 300px 0 #14101D;
    padding: 20px 10px;

    position: absolute;
    top: 15%;
}

#scan-credit h4 {
    color: #fff;
    font-family: 'montserrat', sans-serif;
    margin: 10px 0;
}

#scan-credit p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 600;
}

#analysis {
    cursor: pointer;
    width: 60%;
    /* height: 250px; */
    text-align: center;
    background-color: #14101D;
    border-radius: 5px;
    box-shadow: 0 0 300px 0 #14101D;
    padding: 20px;

    position: absolute;
    right: 0;
}

#month {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

#income-expense {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

#income {
    color: #02C58B;
}

#income p:nth-child(2) {
    margin: 5px 0 0 0;
    font-size: .6rem;
    font-weight: 600;
}

#expense {
    color: #00D2E0;
}

#expense p:nth-child(2) {
    margin: 5px 0 0 0;
    font-size: .6rem;
    font-weight: 600;
}

#analysis-img img {
    width: 100%;
    margin: 0 0 20px 0;
}

#month-list {
    display: flex;
    justify-content: space-between;
}

#month-list a {
    padding: 5px 7px;
    text-decoration: none;
    border-radius: 4px;
    background: linear-gradient(to right, #00EEB3, #00DDEB);
    color: gray;
    font-size: .8rem;
}

#pay-method {
    background-color: #14101D;
    position: absolute;
    top: 85%;
    right: 30%;
    bottom: 0;
    left: 20%;

    padding: 15px;
}

#pay {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 20px 0;
}

#pay p {
    font-weight: 600;
}

#pay-image {
    display: flex;
    justify-content: space-between;
}

#pay-image img {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

/* Review */

#review-title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 60px 0;
}

#review-title h3 {
    font-size: 3rem;
}

#review-title p {
    opacity: .7;
}