* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00040F;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 0 40px 0;
}

#nav-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nav-title img {
    width: 30px;
    height: 30px;
}

#nav-title a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

#nav-title a span {
    color: #5CE1E6;
}

#toggle {
    display: none;
}

#bars {
    color: #fff;
    font-size: 1.5rem;
    display: none;
}

#nav-link {
    display: flex;
    gap: 20px;
    color: #fff;
}

#nav-link li {
    list-style-type: none;
}

#nav-link li a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#discount {
    background: linear-gradient(to right, #242426, 40%, #00040F);
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 30px 0;
}

#discount p {
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

#discount p span {
    color: #9DA4A5;
}